# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.idea
hello-react/node_modules
hooks-tutorial/node_modules
react-book_start/node_modules
immer-tutorial/node_modules

styling-react/node_modules
todo-app/node_modules

${server.properties.db.datasource.url}
${server.properties.db.datasource.driver-class-name}
${server.properties.db.datasource.username}
${server.properties.db.datasource.password}

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
